html {
    overflow-y: scroll;
}
body {
  color: #222222;
  margin: 0 auto;
  padding: 1.618em 2.618em;
  font-family: 'PT Serif', serif;
  line-height: 1.618;
  /*width: 37em;*/
  /*width: 600px;*/
  width: 580px;
  font-size: 16px;
  /*background: url(groovepaper.png);*/
}
a {
  font-style: italic;
  text-decoration: none;
  color: #3063A5;
  text-shadow: 0 1px 0 white;
}
a:hover {
  text-decoration: underline;
}
a img {
    border: none;
}
p {
  text-align: justify;
  margin-bottom: 1.618em;
}
p:first-child:first-line {
  font-weight: bold;
  text-shadow: 0 1px 0 white;
}
h1, h2, h3, h4 {
  font-family: 'Lusitana', serif;
  line-height: 2.618;
}
h2, h3, h4 {
  margin-bottom: 0;
}
h1 a, h2 a, h3 a, h4 a {
  font-style: normal;
  color: inherit;
}
h1 {
  padding: 0.618em 1em;
  text-align: center;
  font-size: 52px;
  line-height: 1;
  word-spacing: 0.146em;
  letter-spacing: -2px;
  color: #000;
  position: relative;
  -webkit-mask-image: url(groovepaper_mask.png);
  -o-mask-image: url(groovepaper_mask.png);
  -moz-mask-image: url(groovepaper_mask.png);
  mask-image: url(groovepaper_mask.png);
  text-shadow: 0 1px 0 white;
}
/* for variable word sizes in headlines */
h1 .small {
  font-size: 85%;
}
h1.big {
  padding: 0.146em 1em;
  text-align: center;
  font-size: 68px;
  line-height: 1.146;
  word-spacing: 0.146em;
  letter-spacing: -2px;
  color: #000;
  position: relative;
  -webkit-mask-image: url(groovepaper_mask.png);
  -o-mask-image: url(groovepaper_mask.png);
  -moz-mask-image: url(groovepaper_mask.png);
  mask-image: url(groovepaper_mask.png);
  text-shadow: 0 1px 0 white;
}
h2, h3, h4 {
  text-shadow: 0px 1px 0 white;
}
#navigation {
  margin: 0 0 2.618em 0;
  padding: 0 0 1em 0;
  list-style-type: none;
  border-bottom: 1px dashed #999;
}
#navigation li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
#navigation li.selected {
  background: url(groovepaper_dark.png);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}
#navigation li.selected a:hover {
  text-decoration: none;
}
#navigation a {
  padding: 0.326em 1em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
}
#navigation a.internal  {
  color: black;
  font-style: normal;
}
#navigation li.selected a {
  font-weight: normal;
  font-style: normal;
  color: white;
  text-shadow: 0 -1px 0 black;
  /*
  -webkit-mask-image: url(groovepaper_mask.png);
  -o-mask-image: url(groovepaper_mask.png);
  -moz-mask-image: url(groovepaper_mask.png);
  mask-image: url(groovepaper_mask.png);
  */
}
.meta {
  font-family: 'Radley', serif;
  letter-spacing: 1px;
  margin-bottom: 1.618em;
}
.meta .by {
  font-style: normal;
  color: #222;
  text-decoration: none;
  text-transform: none;
  margin-right: 0.326em;
}
.meta .author {
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.326em;
}
.meta .author sup {
  position: relative;
  top: 0.326em;
  font-size: 70%;
  margin-right: 0.326em;
  display: inline-block;
  height: 1.326em;
  width: 0.9em;
  text-decoration: underline;
  overflow: hidden;
}
.meta .date {
  font-style: italic;
}
.meta .date:before {
  content: ' on ';
  margin-right: 0.326em;
}
.meta .extra a {
  font-family: 'Radley', serif;
  font-size: 70%;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 0.326em;
}

pre, code {
    font-family: monospace;
    font-size: 12px;
    color: #000;
    line-height: 1.618;
}

pre {
    padding: 1.618em 0 1.618em 1.618em;
    margin: 2.618em 0;
    border: 1px dashed #CCC;
    border-left: 2px solid #444;
    background-color: #F4F4F4;
    overflow: auto;
}

pre code {
    background-color: #F4F4F4 !important;
}

.main img {
    width: 100%;
}

ul.blogposts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.blogposts li .meta .date {
    float: right;
    margin-top: -1.63em;
}
ul.blogposts li .meta .date:before {
    content: '';
}
ul.blogposts li .meta .extra {
    margin-top: -1em;
}


.row {
    margin-left: -20px;
    zoom: 1;
    clear: left;
}
/*.span(@cols) { width: (40 * @cols) + (20 * (@cols - 1)); }*/
.span1 { width: 40px; display: inline; float: left; margin-left: 20px; }
.span2 { width: 100px; display: inline; float: left; margin-left: 20px; }
.span3 { width: 160px; display: inline; float: left; margin-left: 20px; }
.span4 { width: 220px; display: inline; float: left; margin-left: 20px; }
.span5 { width: 280px; display: inline; float: left; margin-left: 20px; }
.span6 { width: 340px; display: inline; float: left; margin-left: 20px; }
.span7 { width: 400px; display: inline; float: left; margin-left: 20px; }
.span8 { width: 460px; display: inline; float: left; margin-left: 20px; }
.span9 { width: 520px; display: inline; float: left; margin-left: 20px; }
.span10 { width: 580px; display: inline; float: left; margin-left: 20px; }


#avatar {
    float: left;
    -webkit-transform: rotate(-5deg);
    -moz-transform: rotate(-5deg);
    -ms-transform: rotate(-5deg);
    -o-transform: rotate(-5deg);
    transform: rotate(-5deg);
    border-bottom: 1px solid #bbb;
    border-left: 1px solid #ccc;
    border-top: 1px solid white;
    border-right: 1px solid white;
    margin: 0 50px 25px 0;
    position: relative;
    top: 0.5em;
    left: 0.5em;
}


.aboutme h1 {
    margin: 0;
    padding: 0;
    text-align: left;
}
.contact {
    font-family: 'Radley', serif;
    font-weight: bold;
}
.contact p {
    text-align: center;
}
.project {
    padding-bottom: 0.618em;
    border-bottom: 1px dashed #ccc;
    font-size: 80%;
}
.project>div {
    margin-top: 1em;
    margin-bottom: 1em;
}
.project p {
    margin-top: 0;
    text-align: left;
}
.project img {
    position: relative;
    top: 10px;
    left: 0.5em;
    margin: 1em 0;
    border-bottom: 1px solid #ccc;
}
.findoutmore p {
    text-align: center;
    margin: 1em 0 2em 0;
}


.paper {
    padding: 1em 1em 1.618em 1em;
    position: relative;  
    /*background-color: #fff;  */
    background: url(groovepaper.png);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(100, 100, 100, 0.025);  
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(100, 100, 100, 0.025);  
    -o-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(100, 100, 100, 0.025);  
    -ms-box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(100, 100, 100, 0.025);  
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3), inset 0 0 50px rgba(100, 100, 100, 0.025);  
}
.paper img {
    padding: 0 26px 26px 26px;
}
.paper:before, .paper:after {  
    position: absolute;  
    width: 40%;  
    height: 10px;  
    content: ' ';  
    left: 12px;  
    bottom: 12px;  
    background: transparent;  
    -webkit-transform: skew(-5deg) rotate(-5deg);  
    -moz-transform: skew(-5deg) rotate(-5deg);  
    -ms-transform: skew(-5deg) rotate(-5deg);  
    -o-transform: skew(-5deg) rotate(-5deg);  
    transform: skew(-5deg) rotate(-5deg);  
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
    -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
    -o-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
    -ms-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);  
    z-index: -1;  
}  
.paper:after  {  
    left: auto;  
    right: 12px;  
    -webkit-transform: skew(5deg) rotate(5deg);  
    -moz-transform: skew(5deg) rotate(5deg);  
    -ms-transform: skew(5deg) rotate(5deg);  
    -o-transform: skew(5deg) rotate(5deg);  
    transform: skew(5deg) rotate(5deg);  
}


#subscribe {
    padding: 3em 0 1em 0;
    text-align: center;
    border-top: 1px dashed #CCC;
    color: #666;
    font-style: italic;
    margin: 2.618em 0 0 0;
}

#subscribe a.feed, a.twitter {
    margin: 0 1em 0 1em;
    padding: 0 0 0 20px;
    background-repeat: no-repeat;
    background-position: 0 5px;
    font-style: normal;
    font-weight: bold;
}
#subscribe a.feed {
    background-image: url(feed.png);
}
#subscribe a.twitter {
    background-image: url(twitter.png);
}

#disqus_thread {
    margin-top: 2.618em;
    margin-bottom: 2.618em;
    padding-top: 1em;
    border-top: 1px dashed #CCC;
    font-size: 80%;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', verdana, geneva, sans-serif;
}
#disqus_thread h2,
#disqus_thread h3 {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', verdana, geneva, sans-serif;
}


#main {
    opacity: 1;
    -webkit-transition: opacity .25s linear;
    -moz-transition: opacity .25s linear;
    -o-transition: opacity .25s linear;
    -ms-transition: opacity .25s linear;
    transition: opacity .25s linear;
}


/* don't resize paragraphs etc automatically on mobile devices using webkit */
@media only screen and (max-device-width: 480px), only screen and (device-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) {
    body {
        -webkit-text-size-adjust: none;
    }
}
