html {
    overflow-y: scroll;
}
body {
  color: #222222;
  margin: 0 auto;
  padding: 1.618em 2.618em;
  font-family: 'PT Serif', serif;
  line-height: 1.618;
  width: 34em;
  font-size: 16px;
  background: url(groovepaper.png);
}
a {
  font-style: italic;
  text-decoration: none;
  color: #3063A5;
  text-shadow: 0 1px 0 white;
}
a:hover {
  text-decoration: underline;
}
p {
  text-align: justify;
  margin-bottom: 1.618em;
}
p:first-child:first-line {
  font-weight: bold;
  text-shadow: 0 1px 0 white;
}
h1, h2, h3, h4 {
  font-family: 'Lusitana', serif;
  line-height: 2.618;
}
h2, h3, h4 {
  margin-bottom: 0;
}
h1 a, h2 a, h3 a, h4 a {
  font-style: normal;
  color: inherit;
}
h1 {
  padding: 0.146em 1em;
  text-align: center;
  font-size: 68px;
  line-height: 1.146;
  word-spacing: 0.146em;
  letter-spacing: -2px;
  background: url(groovepaper_dark.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
h1 .small {
  font-size: 80%;
}
/*
h1:before {
  padding: 0.146em 1em;
  text-align: center;
  background: none;
  content: attr(data-text);
  left: 0;
  position: absolute;
  text-shadow: 0px 1px 0 white;
  top: 0;
  z-index: -1;
}
*/
h2, h3, h4 {
  text-shadow: 0px 1px 0 white;
}
#navigation {
  margin: 0 0 2.618em 0;
  padding: 0 0 1em 0;
  list-style-type: none;
  border-bottom: 1px dashed #999;
}
#navigation li {
  margin: 0;
  padding: 0;
  display: inline-block;
}
#navigation li.selected {
  background: url(groovepaper_dark.png);
  border-radius: 3px;
}
#navigation a {
  padding: 0.326em 1em;
  border-radius: 3px;
  display: inline-block;
}
#navigation a.internal  {
  color: black;
  font-style: normal;
}
#navigation li.selected a {
  font-weight: normal;
  font-style: normal;
  color: white;
  background: url(groovepaper.png);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: none;
}
.meta {
  font-family: 'Radley', serif;
  letter-spacing: 1px;
  margin-bottom: 1.618em;
}
.meta .by {
  font-style: normal;
  color: #222;
  text-decoration: none;
  text-transform: none;
  margin-right: 0.326em;
}
.meta .author {
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: 0.326em;
}
.meta .author sup {
  position: relative;
  top: 0.326em;
  font-size: 70%;
  margin-right: 0.326em;
  display: inline-block;
  height: 1.326em;
  width: 0.9em;
  text-decoration: underline;
  overflow: hidden;
}
.meta .date {
  font-style: italic;
}
.meta .date:before {
  content: ' on ';
  margin-right: 0.326em;
}
.meta .extra a {
  font-family: 'Radley', serif;
  font-size: 70%;
  text-transform: uppercase;
  color: #666;
  letter-spacing: 0.326em;
}

pre, code {
    font-family: monospace;
    font-size: 12px;
    color: #000;
    line-height: 1.618;
}

pre {
    padding: 1.618em 0 1.618em 1.618em;
    margin: 2.618em 0;
    border: 1px dashed #CCC;
    border-left: 2px solid #444;
    background-color: #F4F4F4;
    overflow: auto;
}

pre code {
    background-color: #F4F4F4 !important;
}

.main img {
    width: 100%;
}

ul.blogposts {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
ul.blogposts li .meta .date {
    float: right;
    margin-top: -1.63em;
}
ul.blogposts li .meta .date:before {
    content: '';
}
ul.blogposts li .meta .extra {
    margin-top: -1em;
}
