<div id="about">
  <!-- Note: this image is pre-loaded in base.html template, changes to src should be made there too -->
  <img id="avatar" alt="Me" src="http://www.gravatar.com/avatar/c911321821c4d7bd1b9bbadf91aa6f2e?size=92" />
  <p>
    <strong>Hello!</strong> I'm a professional
    <a href="http://python.org">Python</a> developer based in
    <a href="http://wikipedia.org/wiki/York">York, UK</a>.
    I spend a lot of time working with
    <a href="http://nodejs.org">Node.js</a> and maintain a number of
    open-source projects including
    <a href="https://github.com/caolan/nodeunit">Nodeunit</a> and
    <a href="https://github.com/caolan/async">Async.js</a>.
    This site is hosted as a <a href="http://couchapp.org">CouchApp</a>, and
    was developed as an early experiment in using
    <a href="http://kansojs.org">KansoJS</a>.
  </p>
  <p>
    You can get in touch with me via 
    <a href="http://twitter.com/caolan">Twitter</a> or on
    <a href="https://github.com/caolan">GitHub</a>.
  </p>
</div>
