<div id="about">
  <!-- Note: this image is pre-loaded in base.html template, changes to src should be made there too -->
  <img id="avatar" alt="Me" src="http://www.gravatar.com/avatar/c911321821c4d7bd1b9bbadf91aa6f2e?size=92" />
  <p>
    <strong>Hello!</strong>
    I'm a freelance JavaScript developer based in Vancouver, BC.
    I specialise in decentralised systems using
    <a href="http://couchapp.org">CouchApps</a>, often designed to overcome
    expensive or unreliable networks while providing redundancy and speed.
    I also maintain a number of open-source projects including
    <a href="https://github.com/caolan/nodeunit">Nodeunit</a>,
    <a href="https://github.com/caolan/async">Async</a> and
    <a href="http://kansojs.org">Kanso</a>.
  </p>
  <p>
    You can get in touch with me via 
    <a href="http://twitter.com/caolan">Twitter</a> or on
    <a href="https://github.com/caolan">GitHub</a>.
  </p>
</div>
